[user]
    name = Nickolai Korshunov
    email = redwaan@yandex-team.ru

[alias]
    lg = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold blue)(%ar)%C(reset)%C(bold red)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    st = status -s
    co = checkout
    cleanse = clean -f -d
    nevermind = !git reset --hard HEAD && git clean -d -f
    bonsai = pull --all --prune
[color]
    ui = always
[push]
    default = matching

[core]
    editor='vim'

